global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - "alert_rules.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets:
          - alertmanager:9093

scrape_configs:
  - job_name: 'area51-bot'
    static_configs:
      - targets: ['host.docker.internal:3001']
    scrape_interval: 5s
    metrics_path: '/metrics'
    
