apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://area51-prometheus:9090
    uid: prometheus
    isDefault: false
    editable: false
    jsonData:
      timeInterval: "5s"
